<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fc5kkuvaclasses/static/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="https://s3.amazonaws.com/fc5kkuvaclasses/static/dashboard.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Office</a>
      <form class="form-inline w-50 mr-auto" action="/search" method="post">
        <!--<input class="form-control form-control-dark w-50 mr-auto" type="text" placeholder="Search" aria-label="Search">-->
        <input id="keyword" name="keyword" class="form-control form-control-dark w-100 mr-auto" type="search" placeholder="Search" aria-label="Search">

      </form>

      <ul class="navbar-nav px-3">
        {% if username == null %}
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="/register"><button type="button" class="btn btn-light">Register</button></a>
          <a href="/login"><button type="button" class="btn btn-primary">Login</button></a>
        </div>
        {% else %}

        <div class="btn-group" role="group" aria-label="Basic example">
          <a><button type="button" class="btn btn-light">{{username}}</button></a>
          <a href="/logout"><button type="button" class="btn btn-warning">Logout</button></a>
        </div>

          {% endif %}
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/home">
                  <span data-feather="home"></span>
                  Home <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info/hall">
                  <span data-feather="file"></span>
                  Hall Info
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info/advisor">
                  <span data-feather="shopping-cart"></span>
                  Advisor Info
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info/student">
                  <span data-feather="users"></span>
                  Student Info
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info/manager">
                  <span data-feather="bar-chart-2"></span>
                  Manager Info
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info/room">
                  <span data-feather="layers"></span>
                  Room Info
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info/lease">
                  <span data-feather="layers"></span>
                  Lease Info
                </a>
              </li>
            </ul>


          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            {% block body_block %} {% endblock %}

        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://s3.amazonaws.com/fc5kkuvaclasses/static/jquery-slim.min.js"><\/script>')</script>
    <script src="https://s3.amazonaws.com/fc5kkuvaclasses/static/popper.min.js"></script>
    <script src="https://s3.amazonaws.com/fc5kkuvaclasses/static/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

  </body>
</html>
