<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

      <script>
          $('#myModal').on('shown.bs.modal', function () {
              $('#myInput').trigger('focus')
          })
      </script>

    <title>Lease</title>
  </head>
  <body>
    <div class="row">
        <div class="col-sm-8">
            <form action="/webapp/info/room/add" method="post">
              <div class="form-group">
                <label for="Hall">Account</label>
                <input type="text" class="form-control" id="hall" placeholder="Enter hall number" name="hall">
              </div>
              <div class="form-group">
                <label for="Room">Room Number</label>
                <input type="text" class="form-control" id="room_no" placeholder="Enter room number" name="room_no">
              </div>
                <div class="form-group">
                    <label for="Price">Price</label>
                    <input type="text" class="form-control" id="price" placeholder="Enter Price" name="price">
                </div>
              <button type="submit" class="btn btn-primary">Add Room</button>
            </form>
        </div>
    </div>
      <table class="table table-striped">
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Hall</th>
                <th scope="col">Room Number</th>
                <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in objects %}
            <tr>
                <th scope="row">{{obj.pk}}</th>
                <td>{{ obj.fields.hall }}</td>
                <td>{{ obj.fields.room_no }}</td>
                <td>{{ obj.fields.price }}</td>
            </tr>
            {% endfor %}
          </tbody>
    </table>

  </body>
</html>


