<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>Advisor</title>
  </head>
  <body>

  {% extends "index.html" %}

  {% block body_block %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Student</h1>
      </div>

      <table class="table table-striped">
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Birth Date</th>
                <th scope="col">Address</th>
                <th scope="col">Department</th>
                <th scope="col">Phone</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in objects %}
            <tr>
                <th scope="row">{{obj.pk}}</th>
                <td>{{ obj.fields.name }}</td>
                <td>{{ obj.fields.gender }}</td>
                <td>{{ obj.fields.birthdate }}</td>
                <td>{{ obj.fields.address }}</td>
                <td>{{ obj.fields.department }}</td>
                <td>{{ obj.fields.phone_no }}</td>
            </tr>
            {% endfor %}
          </tbody>
    </table>
  {% endblock %}

  </body>
</html>


