language: python

env:
- MYSQL_ROOT_PASSWORD=$3cureUS


before_install:
- docker pull mysql:5.7.23
- mkdir ~/cs4501
- mkdir ~/cs4501/db
- docker run --name mysql -d -e MYSQL_ROOT_PASSWORD='$3cureUS' -v ~/cs4501/db:/var/lib/mysql  mysql:5.7.23
- sleep 15
- docker network create mynet
- docker network connect mynet mysql


install:
- docker run -it --name mysql-cmdline --link mysql:db mysql:5.7.23 bash -c "mysql -u root -p ${MYSQL_ROOT_PASSWORD} -h db"
- docker exec -it mysql-cmdline bash -c "create user 'www'@'%' identified by '$3cureUS';"
- docker exec -it mysql-cmdline bash -c "create database cs4501 character set utf8;"
- docker exec -it mysql-cmdline bash -c "grant all on cs4501.* to 'www'@'%';"

script:
- docker-compose up
